[submodule "frontend"]
	path = frontend
	url = https://github.com/Jayslen/Kanban-task-management-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Jayslen/Kanban-task-management-backend.git
